# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:
	api: 
		endpoint: https://prawn-public-api-service--pr-1.herokuapp.com/v1
		organizationId: blueberry

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Forms\ApplyFormFactory
	router: App\RouterFactory::createRouter
	api: App\Model\LuskApi(%api%)
