# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:
	api:
		endpoint: https://api.lusk.io/v1
		organizationId: 584969b37a4f1d1700aeb9c7

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Forms\ApplyFormFactory
	router: App\RouterFactory::createRouter
	api: App\Model\LuskApi(%api%)
