{block content}

<h1 n:block=title>{$organization->name}</h1>

<h2 n:block=subtitle>{$position->name}</h2>

<p><a href="{link Positions:}">Careers</a> / <a href="{link Positions:detail $position->id}">{$position->name}</a></p>

{if $position->jobDescription}
	{$position->jobDescription|noescape}
{/if}

<a href="{link Positions:apply $position->id}">Apply</a>
